*{
    margin :5px; 
    padding: 10px;
}
body{
    font-family: 'Work Sans', sans-serif;
    background: rgb(30,36,0);
    background: linear-gradient(90deg, rgba(30,36,0,1) 0%, rgba(231,231,231,0) 0%, rgba(134,134,134,0.684929435483871) 100%);
}
#mapid { 
    height: 400px; 
    
}
